
html{
    background-color: #d0ddd0;
    min-height: 100%;
   margin:0;
   padding:0;
   height:100%;
}

body{
    position: relative;
    min-height: 100%;
    min-width: 500px;
    margin: 0;
    padding: 0;
    height:100%;
}

.plainLink{
    color: black;
    text-decoration: none;
}

/* Begin Header/Footer Declaration */

header, footer{
    width: 98%;
    padding: 1%;
    display: inline-block;
    text-align: center;
    height: 60px;
    background:#aaeebb;
}

header{
    border-bottom-style: solid;
    border-bottom-width: thin; 
}

header a{
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    height: 100%;
    width: 20%;
    position: relative;
}

header a:hover,
footer a:hover {
    background: #c0ccc0;
}

a elem{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

footer{
    position: absolute;
    bottom: 0px;
}

footer a{
    margin: 5%;
    padding-top: 5px;
}

footer elem{
    margin-right: 30%;
    float: left;
}

/*
End Header/Footer

Begin Main Content defaults
*/

.mainContent{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-bottom: 100px;
    background-color: #e0fde0;
    overflow: auto;
}

/*
End Default Layout

Begin Project Post Include
*/

.projectPost{
    height: 20em;
    min-width: 20em;
    width: 25%;
    border-color: black;
    border-style: solid;
    background-color: #d0d0dd;
    position: relative;
    margin: 10px;
    display: inline-table;
}

.PostContainer{
    text-align: center;
}

li{
    list-style: none;
    float: left;
    padding: 2px;
    text-decoration: none;
    background-color: #d0d6d0;
}

a.endLink {
    color: blue;
    text-decoration: underline;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.all{
    min-height:100%;
    padding-bottom: 0px;
    margin: 0px;
   min-height:100%;
   position:relative;
}

img{
    color: black;
}

h1.postTitle {
    margin-bottom: 0px;
}

