<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
<div class="all">
        <header>
            <a href="/"><elem>Home</elem></a>
            <a href="/about"><elem>About</elem></a>
            <a href="/post"><elem>Posts</elem></a>
            <a href="/project"><elem>Projects</elem></a>
        </header>
        <div class="mainContent">
			
        {{ content }}
			
        </div><!-- /.mainContent -->
        <footer>
            <li>
                <a href="mailto:zhao.brian.w@gmail.com">email</a>
            </li>
            <li>
                <a href="https://github.com/kodomazer">
                    github.com/kodomazer
                </a>
            </li>
        </footer>
</div>
    </body>
</html>
